%li
%a{:href => "http://rubeque.com/"}="Rubeque"
%li
%a{:href => "http://rubymonk.com/"}="RubyMonk - Home"
%li
%a{:href => "http://puzzlenode.com/"}="Puzzles - PuzzleNode"
%li
%a{:href => "http://www.rubyquiz.com/"}="Ruby Quiz"
%li
%a{:href => "http://thechangelog.com/post/2702909130/koans-a-pattern-for-learning-languages"}="koans - a pattern for learning languages - The Changelog - Open Source moves fast. Keep up."
