%li
%a{:href => "http://railscasts.com/episodes/257-request-specs-and-capybara"}="Railscasts - Request Specs and Capybara"
%li
%a{:href => "http://pedromtavares.wordpress.com/2010/10/23/quick-tips-for-the-casual-jquery-developer/"}="Quick Tips for the Casual jQuery Developer « Pedro Mateus Tavares"
%li
%a{:href => "http://ruby.runpaint.org/"}="Read Ruby 1.9: Free Ebook About the Ruby Programming Language"
%li
%a{:href => "http://ph7spot.com/articles"}="Articles on Ruby, Agile Methodologies, Web Acceptance Testing, UNIX and Software Craftmanship in general."
%li
%a{:href => "http://engineering.qype.com/2010/06/03/how-we-work-flipping-features/"}="The Qype Engineering Blog » How we work: flipping features"
%li
%a{:href => "http://matthewhutchinson.net/2010/10/21/yet-another-rails-security-checklist"}="Yet another Rails security checklist"
%li
%a{:href => "http://robots.thoughtbot.com/post/1037240922/get-your-c-on"}="Get Your C On - GIANT ROBOTS SMASHING INTO OTHER GIANT ROBOTS"
%li
%a{:href => "http://weblog.rubyonrails.org/2009/9/1/gem-packaging-best-practices"}="Riding Rails: Gem Packaging: Best Practices"
%li
%a{:href => "http://redartisan.com/2009/9/1/macruby-intro"}="Red Artisan: Getting Started with MacRuby"
%li
%a{:href => "http://kpumuk.info/ruby-on-rails/simplifying-your-ruby-on-rails-code/"}="Simplifying your Ruby on Rails code: Presenter pattern, cells plugin | Dmytro Shteflyuk's Home"
%li
%a{:href => "http://www.engineyard.com/blog/2009/thats-not-a-memory-leak-its-bloat/"}="That’s Not a Memory Leak, It’s Bloat | Engine Yard Blog"
%li
%a{:href => "http://guides.rubyonrails.org/i18n.html"}="Rails Internationalization (I18n) API"
%li
%a{:href => "http://shapeshed.com/journal/testing_with_ie6_ie7_and_ie8_on_virtualbox/"}="Testing with IE6, IE7 and IE8 on VirtualBox | Shape Shed"
%li
%a{:href => "http://tldp.org/LDP/abs/html/"}="Advanced Bash-Scripting Guide"
%li
%a{:href => "http://www.virtuosimedia.com/tutorials/ultimate-ie6-cheatsheet-how-to-fix-25-internet-explorer-6-bugs"}="Ultimate IE6 Cheatsheet: How To Fix 25+ Internet Explorer 6 Bugs"
%li
%a{:href => "http://blog.nuclearsquid.com/writings/ruby-1-9-encodings"}="Working with Encodings in Ruby 1.9 – The Nuclear Squid"
%li
%a{:href => "http://www.justinspradlin.com/programming/create-a-photostream-using-jquery-and-the-flickr-api/"}="Create a Photostream Using jQuery and the Flickr API » Justin Spradlin"
%li
%a{:href => "http://macruby.labs.oreilly.com/"}="MacRuby: The Definitive Guide"
%li
%a{:href => "http://metaskills.net/"}="MetaSkills.net Coding things on top of other things."
%li
%a{:href => "http://rubylearning.com/blog/2010/12/20/how-do-i-keep-multiple-ruby-projects-separate/"}="How do I keep multiple Ruby projects separate?"
