%li
%a{:href => "http://tx.pignata.com/2013/04/mwrc-code-smells-talk.html"}="Talk: Code Smells: Your Refactoring Cheat Codes :: tx.pignata.com"
%li
%a{:href => "https://speakerdeck.com/brianvh/refactoring-views-in-rails"}="Refactoring Views in Rails // Speaker Deck"
