%li
%a{:href => "http://vonage.horizonblue.com/"}="Vonage - Home | Vonage for Horizon Blue Cross Blue Shield of New Jersey"
%li
%a{:href => "http://www.sovereignbank.com/default.asp?group=personal"}="Personal Banking | Sovereign Bank"
%li
%a{:href => "https://www.homesite.com/OnlineServicing/"}="My Policy"
%li
%a{:href => "https://progressivedirect.homesite.com/OnlineServicing/Welcome.aspx"}="My Policy"
%li
%a{:href => "http://www.uscis.gov/portal/site/uscis/menuitem.5af9bb95919f35e66f614176543f6d1a/?vgnextoid=480ccac09aa5d010VgnVCM10000048f3d6a1RCRD&vgnextchannel=db029c7755cb9010VgnVCM10000045f3d6a1RCRD"}="USCIS - N-400, Application for Naturalization"
%li
%a{:href => "http://my.yahoo.com/"}="my yahoo"
%li
%a{:href => "http://gmail.com/"}="gmail"
%li
%a{:href => "http://www.jfklongtermparking.com/"}="JFK Airport Parking | JFK Long Term Parking | Airport Parking Reservations"
%li
%a{:href => "https://www25.benefits.ml.com/General/Signoff.asp"}="Benefits Information Center"
%li
%a{:href => "https://401k.fidelity.com/public/content/401k/Home/Landing/"}="Fidelity Investments - Workplace Savings: Welcome to 401k.com"
