%li
%a{:href => "http://it-ebooks.info/tag/ruby/"}="Ruby eBooks - Free Download IT eBooks"
%li
%a{:href => "http://www.syncfusion.com/resources/techportal/ebooks"}="Syncfusion | Technology Resource Portal"
%li
%a{:href => "http://xyzpub.com/en/ruby-on-rails/3.2/index.html"}="Ruby on Rails 3.2 - Step by Step"
%li
%a{:href => "http://www.brpreiss.com/books/opus8/"}="Data Structures and Algorithms with Object-Oriented Design Patterns in Ruby"
%li
%a{:href => "https://github.com/IconoclastLabs/rubymotion_cookbook"}="IconoclastLabs/rubymotion_cookbook"
%li
%a{:href => "http://ruby.runpaint.org/?utm_source=rubyweekly&utm_medium=email"}="Read Ruby 1.9: Free Ebook About the Ruby Programming Language"
%li
%a{:href => "http://objectsonrails.com/?utm_source=rubyweekly&utm_medium=email#sec-1"}="Objects on Rails"
%li
%a{:href => "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book?version=3.2"}="Ruby on Rails Tutorial: Learn Rails by Example book and screencasts by Michael Hartl"
%li
%a{:href => "http://openclassroom.stanford.edu/MainFolder/CoursePage.php?course=WebApplications"}="Web Applications"
%li
%a{:href => "http://www.ccs.neu.edu/home/matthias/HtDC/htdc.pdf"}="www.ccs.neu.edu/home/matthias/HtDC/htdc.pdf"
%li
%a{:href => "http://rosettacode.org/wiki/Main_Page"}="Rosetta Code - Rosetta Code"
%li
%a{:href => "http://learncodethehardway.org/"}="Learn Code The Hard Way -- C, Ruby, and Python Education"
%li
%a{:href => "https://github.com/radar/guides"}="radar/guides at master - GitHub"
%li
%a{:href => "http://my.safaribooksonline.com/?portal=awprofessional"}="Addison-Wesley Professional"
%li
%a{:href => "http://my.safaribooksonline.com/book/web-development/ruby/9780321490452/firstchapter"}="Design Patterns in Ruby > Patterns and Ruby > Building Better Programs with Patterns - Pg. 3: Safari Books Online"
%li
%a{:href => "http://www.rubyinside.com/artificial-intelligence-ai-programming-in-ruby-1157.html"}="Artificial Intelligence (AI) Programming in Ruby"
%li
%a{:href => "http://www.cleveralgorithms.com/nature-inspired/index.html"}="Clever Algorithms: Nature-Inspired Programming Recipes"
%li
%a{:href => "http://www.straw-dogs.co.uk/01/05/11-ruby-ebooks-free-legal/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+StrawDogs+%28Straw+Dogs%29"}="» 11 Ruby Ebooks – Free & Legal @ Straw Dogs"
%li
%a{:href => "http://rubybestpractices.com/"}="Ruby Best Practices - Book"
%li
%a{:href => "http://ruby.bastardsbook.com/"}="The Bastards Book of Ruby"
%li
%a{:href => "http://technotab.com/the-best-list-of-ebooks-for-programmers/"}="The Best List of eBooks For Programmers | Techno Tab"
%li
%a{:href => "http://ru.wikibooks.org/wiki/Ruby"}="Ruby — Викиучебник"
