%ul
  %li{menu_style('home')}
    %a{:href => "/index.html"}= "Projects"
  %li{menu_style('bookmarks')}
    %a{:href => "/bookmarks/index.html"}= "Bookmarks"
  %li{menu_style('blog')}
    %a{:href => "/blog/index.html"}= "Blog"

