%li
%a{:href => "https://github.com/oscardelben/words-about-code"}="oscardelben/words-about-code"
%li
%a{:href => "http://ruby5.envylabs.com/episodes"}="Ruby5"
%li
%a{:href => "http://railsenvy.com/"}="Rails Envy"
%li
%a{:href => "http://thinkinginrails.com/2010/04/favorite-ruby-and-rails-podcasts/"}="Thinking In Rails » Blog Archive » Favorite Ruby and Rails Podcasts"
%li
%a{:href => "http://rubycasts.github.com/"}="RubyCasts:All"
