%li
%a{:href => "http://theadmin.org/articles/weekly-tech-learning/"}="Weekly Tech Learning | theAdmin"
%li
%a{:href => "https://github.com/elm-city-craftworks/practicing-ruby-manuscripts"}="elm-city-craftworks/practicing-ruby-manuscripts · GitHub"
%li
%a{:href => "http://community.mendicantuniversity.org/articles/practicing-ruby-volume-2-now-freely-avai"}="Practicing Ruby Volume 2 is now freely available - Mendicant Community"
