%li
%a{:href => "http://www.rubyinside.com/how-to-build-a-mac-os-x-app-with-xcode-and-macruby-3132.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+RubyInside+%28Ruby+Inside%29"}="How To Build A Mac OS X App With XCode and MacRuby"
%li
%a{:href => "http://stephenjungels.com/jungels.net/articles/ffmpeg-howto.html"}="FFmpeg on Mac OS X How-to"
%li
%a{:href => "http://stephenjungels.com/jungels.net/articles/flash-mp3-howto.html"}="Flash MP3 How-to"
%li
%a{:href => "http://freshmeat.net/articles/fine-tuning-mplayer"}="Fine-tuning MPlayer | freshmeat.net"
%li
%a{:href => "http://pandastream.com/"}="Panda - Open source video platform"
%li
%a{:href => "http://www.ffmpeg.org/"}="FFmpeg"
%li
%a{:href => "http://www.mplayerhq.hu/design7/news.html"}="MPlayer - The Movie Player"
%li
%a{:href => "http://mac.softpedia.com/get/Development/Libraries/LibMMS.shtml"}="Download LibMMS 0.4 - Free and open source MMS stream protocol library - Softpedia"
%li
%a{:href => "http://railspikes.com/tags/rvideo"}="Rail Spikes: Software and startups from the trenches"
%li
%a{:href => "http://rvideo.rubyforge.org/"}="Ruby Video Processing"
%li
%a{:href => "http://jimneath.org/2008/06/03/converting-videos-with-rails-converting-the-video/"}="Converting Videos with Rails: Converting the Video | Ruby on Rails"
%li
%a{:href => "http://github.com/hackerdude/ffmpeg-ruby"}="hackerdude's ffmpeg-ruby at master - GitHub"
%li
%a{:href => "http://developer.apple.com/iphone/index.action"}="iPhone Dev Center - Apple Developer"
%li
%a{:href => "http://blog.carbonfive.com/2011/04/06/building-xcode-4-projects-from-the-command-line/"}="Building Xcode 4 projects from the command line | Carbon Five Community"
