%li
%a{:href => "http://anahorny.blogspot.com/2011/08/selenium-webdriver-ruby-tutorial.html"}="anahorny's test automation stuff: Selenium WebDriver Ruby tutorial"
%li
%a{:href => "http://blog.tommymacwilliam.com/post/24147507987/selenium-test-unit-rake-painless-web-testing"}="Tommy: The Blog - Selenium + Test::Unit + Rake = Painless Web Testing"
%li
%a{:href => "http://code.google.com/p/selenium/wiki/RubyBindings"}="RubyBindings - selenium - Ruby bindings - Browser automation framework - Google Project Hosting"
