%li
%a{:href => "http://instantwatcher.com/"}="instantwatcher.com - Streaming Movies and TV to watch instantly on Netflix"
%li
%a{:href => "http://gidonline.ru/"}="ГидОнлайн.Ru - Твой гид в мире кино!"
%li
%a{:href => "http://serialsonline.net/"}="Сериалы онлайн, смотреть сериалы онлайн, скачать сериал / serialsonline.net"
%li
%a{:href => "http://etvnet.com/"}="Центральное Интернет ТВ - Russian TV online - eTVnet"
%li
%a{:href => "http://temnie-alleyi.livejournal.com/"}="Проект Олега Булдакова 'ТЁМНЫЕ АЛЛЕИ'"
%li
%a{:href => "http://bash.org.ru/"}="bash.org.ru - Цитатник Рунета"
%li
%a{:href => "http://pphotographyb.blogspot.com/"}="Photography Blog"
%li
%a{:href => "http://www.moskva.fm/stations"}="MOSKVA.FM"
%li
%a{:href => "http://borisakunin.livejournal.com/"}="Любовь к истории"
