%li
%a{:href => "http://lib.rus.ec/"}="Либрусек | Много книг"
%li
%a{:href => "http://allmediabooks.com/"}="Аудиокниги скачать бесплатно и без регистрации, Библиотека mp3 аудиокниг, видеотренингов."
%li
%a{:href => "http://aneyetothefuture.com/"}="Dr. Steve Silberberg and Dr. Adam Mark - Optometric Physicians | An Eye To The Future - Optometric Physicians"
%li
%a{:href => "http://web1.ww-p.org/IC/"}=""
%li
%a{:href => "https://www.att.com/deviceunlock/client/en_US/termsAndCondition"}="Customer Device Unlock- Request"
