%li
%a{:href => "http://0xfe.muthanna.com/rubyrefresher/"}="The Ruby Refresher"
%li
%a{:href => "https://github.com/carlhoerberg/heroku-buildpack-jruby"}="carlhoerberg/heroku-buildpack-jruby · GitHub"
%li
%a{:href => "http://www.jonathan-jackson.net/life-in-a-shade-of-ruby"}="Life in a shade of ruby"
%li
%a{:href => "http://futuresimple.github.com/posts/2012-02-24-graceful-exiting-from-console-programs-in-ruby/?utm_source=rubyweekly&utm_medium=email"}="Gracefully exiting from console programs in Ruby | Future Simple Lab"
%li
%a{:href => "http://www.agillo.net/monty-hall-and-why-you-shouldnt-trust-your-statistical-intuition/"}="Monty hall and why you shouldn't trust your statistical intuition"
%li
%a{:href => "http://jpfuentes2.tumblr.com/post/39935683274/a-letter-to-my-daughter-augusta-in-ruby"}="Jacques Fuentes - A letter to my daughter, Augusta, in Ruby"
%li
%a{:href => "http://rubysource.com/detecting-faces-with-ruby-ffi-in-a-nutshell/"}="RubySource | Detecting Faces with Ruby: FFI in a NutshellRubySource"
