%li
%a{:href => "http://in.relation.to/tag/Ceylon"}="In Relation To... Tag: Ceylon"
%li
%a{:href => "http://in.relation.to/service/File/19159"}="King's China presentation"
%li
%a{:href => "http://in.relation.to/Bloggers/Ceylon#attachment2"}="In Relation To... Ceylon"
%li
%a{:href => "http://devstonez.wordpress.com/2011/04/13/introducing-the-ceylon-project-gavin-king-presentation-at-qcon-beijing-2011/"}="Introducing the Ceylon Project – Gavin King presentations at QCon Beijing 2011 « Dev{eloper} Stonez"
