%li
%a{:href => "http://developer.apple.com/library/mac/navigation/"}="Mac Developer Library"
%li
%a{:href => "http://developer.apple.com/library/mac/#documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html#//apple_ref/doc/uid/TP40011210-CH1-SW1"}="Programming with Objective-C: About Objective-C"
%li
%a{:href => "http://cocoadevcentral.com/"}="Cocoa Dev Central"
%li
%a{:href => "http://developer.apple.com/library/mac/#documentation/General/Conceptual/CocoaEncyclopedia/ClassClusters/ClassClusters.html"}="Concepts in Objective-C Programming: Class Clusters"
%li
%a{:href => "http://nscookbook.com/recipes/"}="Recipes"
