%li
%a{:href => "http://pothibo.com/2013/07/responsive-javascript-in-rails/"}="Responsive JavaScript in Rails: load what you need when you need it | Pier-Olivier Thibault"
%li
%a{:href => "http://dev.mensfeld.pl/2013/06/upgrading-to-rails-4-0-from-rails-3-2-test-case-part-i-preparations-configuration-gems/"}="Upgrading to Rails 4.0 from Rails 3.2 – Test case – Part I (preparations, configuration, gems) | Running with Rails - Dev Blog not only for Rails fanatics!"
%li
%a{:href => "http://samuelmullen.com/2013/05/the-problem-with-rails-callbacks/"}="The Problem with Rails Callbacks - Samuel Mullen"
%li
%a{:href => "http://homeonrails.com/2012/11/null-migration-or-what-to-do-when-there-are-too-many-migrations/"}="Home on Rails"
%li
%a{:href => "https://gist.github.com/4025988"}="Presenters in Rails, using modules — Gist"
%li
%a{:href => "http://guides.rubyonrails.org/"}="Ruby on Rails Guides"
%li
%a{:href => "https://gist.github.com/1942658?utm_source=rubyweekly&utm_medium=email"}="Rails Lightweight Stack. Most of this is detailed on Crafting Rails Applications - http://pragprog.com/book/jvrails/crafting-rails-applications — Gist"
%li
%a{:href => "http://dev.mensfeld.pl/2012/01/upgrading-to-rails-3-2-0-from-rails-3-1-3/"}="Upgrading to Rails 3.2.0 from Rails 3.1.3 | Running with Rails - Dev Blog not only for Rails fanatics"
%li
%a{:href => "http://blog.soulim.com/2012/02/19/quick-tip-change-default-error-styling-in-rails.html"}="Быстрый совет: изменение стиля вывода ошибок в формах Rails-приложения"
%li
%a{:href => "http://blog.elevat.eu/2012/05/dead-simple-activerecord-migrations-without-rails/"}="Dead simple ActiveRecord migrations without Rails | Elevat.eu blog"
%li
%a{:href => "http://www.ihid.co.uk/blog/backbone-js-coffeescript-jasmine-haml-and-rails-working-together"}="Backbone.js, CoffeeScript, Jasmine, HAML and Rails working together by Jeremy Walker"
%li
%a{:href => "https://github.com/jfirebaugh/konacha"}="jfirebaugh/konacha · GitHub"
%li
%a{:href => "http://broadcastingadam.com/2012/07/rack_from_the_beginning/"}="BroadcastingAdam - Rack from the Beginning"
%li
%a{:href => "http://astrails.com/blog/2012/11/13/rvm-install-patched-ruby-for-faster-rails-startup"}="rvm install patched ruby for faster rails startup | Astrails - Hi-end web technology"
%li
%a{:href => "http://viget.com/extend/rails-engine-testing-with-rspec-capybara-and-factorygirl?utm_source=rubyweekly&utm_medium=email"}="Rails Engine Testing with RSpec, Capybara, and FactoryGirl | Viget"
