%li
%a{:href => "http://backbonejs.ru/"}="Backbone.js по-русски"
%li
%a{:href => "http://thomasdavis.github.com/2011/02/01/backbone-introduction.html"}="Thomas Davis"
%li
%a{:href => "http://backbonetutorials.com/"}="Backbone.js Tutorials"
%li
%a{:href => "https://gist.github.com/1655019"}="Backbone demo app with sinatra backend — Gist"
%li
%a{:href => "http://joshhuckabee.com/integrating-devise-backbonejs"}="Integrating Devise with Backbone.js | Josh Huckabee"
%li
%a{:href => "http://habrahabr.ru/post/118782/"}="Написание сложных интерфейсов с Backbone.js / Хабрахабр"
%li
%a{:href => "http://arturadib.com/hello-backbonejs/docs/1.html"}="tutorial"
