%li
%a{:href => "http://ruby-docs.com/"}="Ruby-Doc.com : Always online Ruby docs"
%li
%a{:href => "http://railsapi.com/"}="Rails Searchable API Doc"
%li
%a{:href => "http://yardoc.org/docs"}="YARD Live Documentation Server"
%li
%a{:href => "http://www.gotapi.com/html"}="gotAPI/HTML - Instant search in HTML and other developer documentation"
%li
%a{:href => "http://apidock.com/"}="APIdock"
%li
%a{:href => "http://www.cheat-sheets.org/"}="Cheat Sheet : All Cheat Sheets in one page"
