%li
%a{:href => "http://devblog.orgsync.com/maintaining-a-large-test-suite-a-dry-approach-to-rspec/"}="Maintaining a Large Test Suite: a DRY Approach to RSpec | OrgSync Developer Blog"
%li
%a{:href => "http://blog.markstarkman.com/blog/2013/02/06/rspec-shared-examples-and-ruby-metaprogramming/"}="RSpec Shared Examples and Ruby Metaprogramming - Mark Starkman"
%li
%a{:href => "http://say26.com/rspec-testing-controllers-outside-of-a-rails-application"}="RSpec: testing controllers outside of a Rails application — Alexander Zaytsev"
%li
%a{:href => "http://benediktdeicke.com/2013/01/custom-rspec-example-groups/"}="Cleaner specs with custom RSpec example groups | Benedikt Deicke - Software Engineer"
%li
%a{:href => "https://groups.google.com/forum/?fromgroups=#!topic/ruby-capybara/C0O7nP2YG1A"}="[ANN] Capybara 2.0.0 - Google Groups"
%li
%a{:href => "http://betterspecs.org/ru/"}="Better Specs { rspec guidelines with ruby }"
%li
%a{:href => "http://betterspecs.org/"}="Better Specs"
%li
%a{:href => "https://github.com/isa/test-base-xruby"}="isa/test-base-xruby · GitHub"
%li
%a{:href => "http://www.emmanueloga.com/2012/04/21/Tidying-up-an-rspec-suite-with-some-helpers.html"}="Tidying up an rspec suite with helpers - Emmanuel Oga's Software and Stuff"
%li
%a{:href => "http://icu.iorahealth.com/blog/2012/02/20/tdd-ruby-module-extraction/"}="TDD'ing a Ruby refactor: 'Module Extraction' - Intensive Code Unit"
%li
%a{:href => "https://gist.github.com/2032303?utm_source=rubyweekly&utm_medium=email"}="How to write MiniTest::Spec expectations — Gist"
%li
%a{:href => "http://vitobotta.com/rspec-custom-matcher-expect-block/#disqus_thread"}="Custom RSpec matchers for blocks, and the Ruby magic behind their inner workings"
%li
%a{:href => "http://testdrivenwebsites.com/2011/08/17/different-ways-of-code-reuse-in-rspec/"}="Different ways of code reuse in RSpec « Test Driven Websites (TDD and BDD in RoR and JS)"
%li
%a{:href => "http://www.emmanueloga.com/2011/07/26/taming-a-capybara.html"}="Taming a Capybara - Emmanuel Oga's Software and Stuff"
%li
%a{:href => "http://inancgumus.com/66712574"}="Cucumber is removed, hello Capybara DSL and only you! - Inanc Gumus"
%li
%a{:href => "http://nicksda.apotomo.de/2011/11/what-was-a-classic-tester-became-a-mockist/"}="What was a Classic Tester Became a Mockist… ¶ Nicksda"
%li
%a{:href => "http://blog.jcoglan.com/2011/07/14/refactoring-towards-testable-javascript-part-1/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+theifworks+%28The+If+Works%29"}="The If Works - Refactoring towards testable JavaScript, part 1"
%li
%a{:href => "http://www.methodsandtools.com/tools/tools.php?rspec"}="RSpec Best Practices"
%li
%a{:href => "http://github.com/grosser/rspec-instafail"}="grosser's rspec-instafail at master - GitHub"
%li
%a{:href => "http://pivotal.github.com/jasmine/"}="Jasmine: BDD for Javascript | Jasmine"
%li
%a{:href => "http://cassiomarques.wordpress.com/2010/07/12/generic-tests-with-rspec/"}="Generic tests with Rspec « /* CODIFICANDO */"
%li
%a{:href => "http://blog.carbonfive.com/2010/10/testing/rspec-best-practices"}="RSpec best practices « Carbon Five Community"
%li
%a{:href => "http://www.metabates.com/2010/07/01/testing-is-not-an-option/"}="Meta Bates » Blog Archive » Testing is NOT an Option"
%li
%a{:href => "http://www.johng.co.uk/2010/10/13/run_capybara_and_cucumber_features_in_internet_explorer_on_remote_windows/"}="John Griffin: Run Capybara & Cucumber Features In Internet Explorer On Remote Windows"
%li
%a{:href => "http://robots.thoughtbot.com/post/189412598/five-ridiculously-awesome-cucumber-and-webrat"}="Five Ridiculously Awesome Cucumber (and Webrat) Features - GIANT ROBOTS SMASHING INTO OTHER GIANT ROBOTS"
%li
%a{:href => "http://www.metabates.com/2010/10/12/how-to-become-a-test-driven-developer/"}="Meta Bates » Blog Archive » How to Become a Test Driven Developer"
%li
%a{:href => "http://www.gearheadforhire.com/articles/ruby/win32-autogui/using-ruby-to-drive-windows-applications"}="Using Ruby to Automate Windows GUI Applications for Testing - Internet and Application Software Design Services"
%li
%a{:href => "http://blog.josephwilk.net/ruby/testing-javascript-with-cucumber-in-javascript.html"}="Testing Javascript with Cucumber in Javascript | Joseph Wilk"
%li
%a{:href => "http://www.idolhands.com/ruby-on-rails/tracking-down-slow-running-examples-in-rspec/"}="Tracking Down Slow-Running Examples in RSpec » Idol Hands: An Alpha Geek Guide to Ruby on Rails, DIY, and More"
%li
%a{:href => "http://www.arailsdemo.com/posts/28"}="aRailsDemo | #28 Grape and Pair Programming"
%li
%a{:href => "http://www.rubyfleebie.com/testing-tools-i-use/"}="Review of some testing tools for ruby » Ruby Fleebie"
%li
%a{:href => "http://guides.rubyonrails.org/"}="A Guide to Testing Rails Applications"
%li
%a{:href => "http://robots.thoughtbot.com/post/2941220520/cleaning-up-with-rcov"}="Sweep unused code into the dustbin with rcov - GIANT ROBOTS SMASHING INTO OTHER GIANT ROBOTS"
%li
%a{:href => "http://37signals.com/svn/posts/2742-the-road-to-faster-tests"}="The road to faster tests - (37signals)"
%li
%a{:href => "http://www.emmanueloga.com/2012/04/21/Tidying-up-an-rspec-suite-with-some-helpers.html"}="Tidying up an rspec suite with helpers - Emmanuel Oga's Software and Stuff"
