%li
%a{:href => "http://www.netmagazine.com/features/essential-javascript-top-five-testing-libraries?utm_source=javascriptweekly&utm_medium=email"}="Essential JavaScript: the top five testing libraries | Feature | .net magazine"
