%li
%a{:href => "http://js2coffee.org/"}="Js2coffee: convert JavaScript code to CoffeeScript"
%li
%a{:href => "http://www.knight.io/"}="Knight.io - Github's finest repos; since 2012"
%li
%a{:href => "http://highgroove.com/articles/2012/02/07/red%2C-green%2C-refactor---the-tools-for-success.html"}="Red, Green, Refactor - The Tools For Success"
%li
%a{:href => "http://www.subelsky.com/2009/11/lean-startup-tools-for-rails-apps.html"}="Mike Subelsky's Blog: Lean startup tools for Rails apps"
%li
%a{:href => "http://ruby-toolbox.com/"}="The Ruby Toolbox: Know your options!"
%li
%a{:href => "http://blog.purepistos.net/index.php/what-i-use/"}="What I Use"
%li
%a{:href => "http://www.travisdunn.com/tools-of-the-trade-2009"}="Tools of the Trade 2009 | Travis Dunn"
%li
%a{:href => "http://www.aeonscope.net/2009/09/21/mac-os-x-106x-snow-leopard-applications/"}="tools of the trade"
%li
%a{:href => "http://yuml.me/"}="Create UML diagrams online in seconds, no special tools needed."
%li
%a{:href => "http://coderack.org/"}="CodeRack"
%li
%a{:href => "http://blog.eizesus.com/2009/10/tools-of-the-trade-2009"}="Emphasized Insanity: Tools of the trade - 2009"
%li
%a{:href => "http://www.aeonscope.net/2009/09/28/macos-ruby-development-setup/"}="Aeonscope | MacOS Ruby Development Setup"
%li
%a{:href => "http://snippets.dzone.com/tag/ruby"}="ruby code"
%li
%a{:href => "http://www.rubyinside.com/sinatra-29-links-and-resources-for-a-quicker-easier-way-to-build-webapps-1371.html"}="Sinatra: 29 Links and Resources For A Quicker, Easier Way to Build Webapps"
%li
%a{:href => "http://blog.thequeue.net/my-tools-of-the-trade/"}="My Tools of the Trade | The Queue Blog"
%li
%a{:href => "http://www.notgeeklycorrect.com/english/2009/10/14/my-tools-of-the-trade/"}="My tools of the trade | Not Geekly Correct"
%li
%a{:href => "http://www.thetechland.com/2009/06/19-open-source-tools-for-programmers/"}="19 Open Source Tools for Programmers | The Tech Land"
%li
%a{:href => "http://afreshcup.com/"}="A Fresh Cup"
%li
%a{:href => "http://cheat.errtheblog.com/"}="$ command line cheat sheets"
%ul{:class => "rails"}
  %li
    %a{:href => "rails/index.html"}="rails"
%li
%a{:href => "http://jenkins-ci.org/content/beginning-new-era-ruby-plugins-now-reality"}="The beginning of a new era: Ruby plugins now a reality | Jenkins CI"
%li
%a{:href => "http://blog.railsware.com/2011/11/18/caphub-multiple-applications-deployment-with-capistrano/"}="CapHub - multiple applications deployment with Capistrano | Railsware blog"
