%li
%a{:href => "http://netzke.org/"}="Netzke: client-server components with Sencha Ext JS and Ruby - Overview"
%li
%a{:href => "http://sr3d.github.com/GithubFinder/"}="Github File Finder"
%li
%a{:href => "https://github.com/oscardelben/Mongo-Shortener"}="oscardelben/Mongo-Shortener - GitHub"
%li
%a{:href => "https://github.com/kfaustino/rails-templater"}="kfaustino/rails-templater - GitHub"
%li
%a{:href => "https://github.com/chriswailes/RLTK"}="chriswailes/RLTK · GitHub"
%li
%a{:href => "https://github.com/devthenet/voyeur/"}="devthenet/voyeur - GitHub"
