%ul{:class => "ruby"}
  %li
    %a{:href => "ruby/index.html"}="ruby"
%ul{:class => "Objective-C"}
  %li
    %a{:href => "Objective-C/index.html"}="Objective-C"
%ul{:class => "ios"}
  %li
    %a{:href => "ios/index.html"}="ios"
%ul{:class => "OSX"}
  %li
    %a{:href => "OSX/index.html"}="OSX"
%ul{:class => "Entertainment"}
  %li
    %a{:href => "Entertainment/index.html"}="Entertainment"
%ul{:class => "Other"}
  %li
    %a{:href => "Other/index.html"}="Other"
%ul{:class => "Android"}
  %li
    %a{:href => "Android/index.html"}="Android"
%ul{:class => "ceylon"}
  %li
    %a{:href => "ceylon/index.html"}="ceylon"
%ul{:class => "jquery"}
  %li
    %a{:href => "jquery/index.html"}="jquery"
%ul{:class => "git"}
  %li
    %a{:href => "git/index.html"}="git"
%ul{:class => "iphone"}
  %li
    %a{:href => "iphone/index.html"}="iphone"
%ul{:class => "Home"}
  %li
    %a{:href => "Home/index.html"}="Home"
%ul{:class => "development-help"}
  %li
    %a{:href => "development-help/index.html"}="development-help"
%ul{:class => "Personal"}
  %li
    %a{:href => "Personal/index.html"}="Personal"
%ul{:class => "tools"}
  %li
    %a{:href => "tools/index.html"}="tools"
%ul{:class => "Aggregators"}
  %li
    %a{:href => "Aggregators/index.html"}="Aggregators"
%ul{:class => "html5"}
  %li
    %a{:href => "html5/index.html"}="html5"
%ul{:class => "coffeescript"}
  %li
    %a{:href => "coffeescript/index.html"}="coffeescript"
%ul{:class => "CS"}
  %li
    %a{:href => "CS/index.html"}="CS"
%ul{:class => "javascript"}
  %li
    %a{:href => "javascript/index.html"}="javascript"
%ul{:class => "haskell"}
  %li
    %a{:href => "haskell/index.html"}="haskell"
%ul{:class => "git"}
  %li
    %a{:href => "git/index.html"}="git"
%ul{:class => "javascript"}
  %li
    %a{:href => "javascript/index.html"}="javascript"
%ul{:class => "jobs"}
  %li
    %a{:href => "jobs/index.html"}="jobs"
%ul{:class => "unix"}
  %li
    %a{:href => "unix/index.html"}="unix"
