%li
%a{:href => "http://www.rubyflow.com/"}="RubyFlow : Ruby Programming Community Link Blog"
%li
%a{:href => "http://rubycorner.com/"}="RubyCorner - Ruby's Blog Directory - Last Updated"
%li
%a{:href => "http://rubyflow.ru/"}="RubyFlow.ru — новости о Ruby и Ruby on Rails, отобранные сообществом разработчиков"
%li
%a{:href => "http://www.linkedin.com/groups?homeNewMember=&gid=22413&trk=eml-anet_wlcm-h-visit&fromEmail=&ut=3dm6xa2XUQ7lQ1"}="Ruby on Rails | LinkedIn"
%li
%a{:href => "http://www.rubyinside.com/"}="Ruby Inside: Ruby blog with daily tips, news, code and fun"
%li
%a{:href => "http://rubysource.com/"}="RubySource provides advice, tutorials, commentary, and insight into the Ruby and Rails ecosystem. » Ruby Source"
%li
%a{:href => "http://www.reddit.com/r/ruby/"}="reddit for ruby hackers"
%li
%a{:href => "http://stream.rubydaily.org/"}="Ruby Daily stream"
%li
%a{:href => "http://news.ycombinator.com/"}="Hacker News"
%li
%a{:href => "http://afreshcup.com/"}="A Fresh Cup - Home"
%li
%a{:href => "http://ruby5.envylabs.com/"}="Ruby5 - The Latest News in the Ruby and Rails Community"
%li
%a{:href => "http://rubyrogues.com/"}="Ruby Rogues — Rubyist.where(:rogue => true).limit(5).all.talk(:about => Topics.where(:awesome => true))"
%li
%a{:href => "http://www.dzone.com/links/tag/ruby.html"}="dzone.com - Popular links: ruby"
%li
%a{:href => "http://ruby.dzone.com/"}="Ruby Zone | Resources for Ruby and Rails developers"
%li
%a{:href => "http://rubyreflector.com/"}="The Ruby Reflector"
%li
%a{:href => "http://rubynoname.ru/"}="RubyNoName"
%li
%a{:href => "http://www.radio-t.com/"}="Радио-Т Подкаст"
%li
%a{:href => "http://rubyquicktips.tumblr.com/"}="Ruby Quicktips"
%li
%a{:href => "http://loudcoding.com/"}="Loud Coding - Learning Ruby/Rails and other cool stuff"
%li
%a{:href => "http://www.codinghorror.com/blog/"}="Coding Horror"
%li
%a{:href => "http://en.wikipedia.org/wiki/List_of_eponymous_laws"}="List of eponymous laws - Wikipedia, the free encyclopedia"
%li
%a{:href => "http://coder.io/tag/ruby"}="Latest ruby news on coder.io"
%li
%a{:href => "http://railscasts.com/"}="Railscasts - Free Ruby on Rails Screencasts"
%li
%a{:href => "http://www.asciicasts.com/"}="ASCIIcasts - Recent Episodes"
%li
%a{:href => "http://feeds.feedburner.com/rubymentary"}="Ruby and/or Rails - powered by FeedBurner"
%li
%a{:href => "http://wiki.darkpatterns.org/Home"}="Home - Dark Patterns"
%li
%a{:href => "http://rails-bestpractices.com/"}="Rails Best Practices | rails best practices list"
%li
%a{:href => "http://stackoverflow.com/"}="Stack Overflow"
%li
%a{:href => "http://www.ruby-forum.com/"}="Forum List - Ruby Forum"
%li
%a{:href => "http://thedailyreviewer.com/top/ruby"}="Top Ruby Blogs"
%li
%a{:href => "http://www.rubyoncloud.org/"}="Ruby on Cloud - - Shapado"
%li
%a{:href => "http://www.softdevtube.com/tag/ruby/"}="Ruby | Software Development Tutorials and Videos Directory"
%li
%a{:href => "http://rubydigest.vinsol.com/"}="Ruby Digest"
%li
%a{:href => "http://agilewebdevelopment.com/"}="Agile Web Development"
%li
%a{:href => "http://blog.rubybestpractices.com/"}="Ruby Best Practices - Blog"
%li
%a{:href => "http://planetruby.0x42.net/"}="Planet Ruby"
%li
%a{:href => "http://rubylearning.com/blog/2009/03/12/50-ruby-related-blogs-to-read/"}="50+ Ruby-related Blogs to Read | RubyLearning Blog"
%li
%a{:href => "http://rubini.us/blog/"}="Rubinius : Use Ruby™"
