%li
%a{:href => "http://spin.atomicobject.com/2013/02/25/ruby-refs-celluloid-actors/?utm_source=rubyflow-ao&utm_medium=atomic&utm_campaign=ruby-refs-celluloid"}="Making Refs in Ruby using Celluloid Actors"
%li
%a{:href => "https://github.com/celluloid/celluloid/wiki"}="Home · celluloid/celluloid Wiki"
%li
%a{:href => "http://www.unlimitednovelty.com/2012/04/introducing-dcell-actor-based.html"}="Unlimited Novelty: Introducing DCell: actor-based distributed objects for Ruby"
%li
%a{:href => "http://rubysource.com/an-introduction-to-celluloid-part-i/"}="RubySource | An Introduction to Celluloid, Part IRubySource"
%li
%a{:href => "http://rubysource.com/an-introduction-to-celluloid-part-ii/"}="RubySource | An Introduction to Celluloid, Part IIRubySource"
%li
%a{:href => "http://rubysource.com/an-introduction-to-celluloid-part-iii/"}="RubySource | An Introduction to Celluloid, Part IIIRubySource"
