%li
%a{:href => "http://blog.heroku.com/archives/2012/12/13/run_jruby_on_heroku_right_now/?utm_source=rubyweekly&utm_medium=email"}="Heroku | Run JRuby on Heroku Right Now"
%li
%a{:href => "http://blog.crowdint.com/2012/12/19/android-applications-with-ruby.html?utm_source=blogpost&utm_medium=rubyflow&utm_campaign=androidruby"}="Crowd Interactive Tech Blog :: Android applications with Ruby"
%li
%a{:href => "http://huangzhimin.com/2012/11/14/jruby-at-openfeint-jruby-migration-success-story/"}="Richard Huang - JRuby at OpenFeint - a JRuby migration success story"
