%li
%a{:href => "http://adit.io/index.html"}="- adit.io"
%li
%a{:href => "http://tenderlovemaking.com/"}="Tender Lovemaking | tenderlovemaking.com"
%li
%a{:href => "http://engineering.nulogy.com/"}="Nulogy Engineering Blog | Adventures in scaling a 250 kloc enterprise rails app"
%li
%a{:href => "https://37signals.com/svn/writers/dhh"}="Signal vs. Noise by 37signals — Business, Design, Programming and the Web"
%li
%a{:href => "http://mislav.uniqpath.com/blog/"}="Mislav's blog"
%li
%a{:href => "http://everydayrails.com/"}="Everyday Rails"
%li
%a{:href => "http://robots.thoughtbot.com/"}="giant robots smashing into other giant robots"
%li
%a{:href => "http://solnic.eu/"}="solnic.eu - probably the best tagline in the world"
%li
%a{:href => "http://pivotallabs.com/users/jdean/blog"}="Jeff Dean's Ruby Blog - The late rising worm doesn't get eaten"
%li
%a{:href => "http://rakeroutes.com/blog/learning-ruby-rails-and-programming/"}="Learning Ruby, Rails, and Programming - Rake Routes"
%li
%a{:href => "http://victorsavkin.com/"}="Victor Savkin's Blog"
%li
%a{:href => "http://blog.rubybestpractices.com/posts/gregory/index.html"}="Practicing Ruby - Blog"
%li
%a{:href => "http://patshaughnessy.net/"}="Pat Shaughnessy"
%li
%a{:href => "http://erik.debill.org/"}="Erik's Engineering"
%li
%a{:href => "http://kresimirbojcic.com/"}="Programming Is Fun"
%li
%a{:href => "http://www.johnplummer.com/"}="John Plummer"
%li
%a{:href => "http://rubysource.com/"}="RubySource provides advice, tutorials, commentary, and insight into the Ruby and Rails ecosystem. » Ruby Source"
%li
%a{:href => "http://tenderlovemaking.com/"}="Tender Lovemaking"
%li
%a{:href => "http://sirupsen.com/"}="Sirupsen and his codeabouts"
%li
%a{:href => "http://eggsonbread.com/"}="Eggs On Bread | Philippe Creux's Weblog"
%li
%a{:href => "http://yehudakatz.com/"}="Katz Got Your Tongue?"
%li
%a{:href => "http://www.khelll.com/blog/category/ruby/"}="Ruby - Khaled alHabache’s official blog"
%li
%a{:href => "http://ph7spot.com/"}="Ruby, Agile Methodologies, Web Acceptance Testing, UNIX and Software Craftmanship"
%li
%a{:href => "http://rbdev.ru/"}="Are you in software? — Персональный блог Печорина Андрея"
%li
%a{:href => "http://m.onkey.org/"}="has_many :bugs, :through => :rails - sleepless in london.."
%li
%a{:href => "http://www.notgeeklycorrect.com/"}="Not Geekly Correct, Nicolas Blog, a french ruby on rails web developer, living in Bristol."
%li
%a{:href => "http://habrahabr.ru/blogs/ror/"}="Хабрахабр"
%li
%a{:href => "http://alexyoung.org/"}="Alex Young"
%li
%a{:href => "http://www.spacebabies.nl/"}="Space Babies"
%li
%a{:href => "http://www.robbyonrails.com/"}="Robby on Rails"
%li
%a{:href => "http://ramblingsonrails.com/"}="Ramblings on Rails"
%li
%a{:href => "http://habrahabr.ru/blogs/ruby/"}="Ruby / Блог / Хабрахабр"
%li
%a{:href => "http://railstips.org/"}="RailsTips by John Nunemaker"
%li
%a{:href => "http://thinkinginrails.com/"}="Thinking In Rails"
%li
%a{:href => "http://justlest.info/"}="lest, just lest"
%li
%a{:href => "http://kpumuk.info/ruby-on-rails/"}="Ruby & Rails | Dmytro Shteflyuk's Home"
%li
%a{:href => "http://blog.wekeroad.com/building-things/video-encoding-rack-attack"}="How To Replace a $600 Piece of Software with 100 Lines of Ruby"
%li
%a{:href => "http://www.prodevtips.com/"}="About | ProDevTips - dev notes and tutorials"
%li
%a{:href => "http://robots.thoughtbot.com/"}="giant robots smashing into other giant robots"
