@import url(normalize.css);
@import url(github.css);
@import url(cantarell.css);
@import url(reenie-beanie.css);
/* general */
/* line 4, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
body {
  padding: 0; }

/* line 7, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
a {
  color: black;
  /*  text-decoration: none;  */ }
  /* line 10, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  a:hover {
    color: black;
    text-decoration: underline; }
  /* line 13, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  a img {
    border: 0 none; }

/* whole page */
/* line 18, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#wrapper {
  margin: 0 auto;
  width: 900px; }

/* main column, as opposed to sidebar  */
/* line 24, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#main-column {
  width: 700px;
  float: left; }

/* sidebar */
/* line 30, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#sidebar {
  width: 170px;
  margin: 135px 0 0 30px;
  float: left;
  font: 13px Helvetica;
  color: #5f5d5f; }
  /* line 36, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #sidebar p {
    margin: 0 0 5px; }
  /* line 38, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #sidebar h2 {
    margin-top: 17px; }
  /* line 41, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.2em; }
  /* line 46, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #sidebar h1, #sidebar h2 {
    font: bold 14px Helvetica;
    color: black; }
  /* line 49, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #sidebar .section {
    margin: 0 0 20px;
    padding: 20px; }

/* logo */
/* line 56, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#logo {
  height: 70px;
  margin: 0 auto; }
  /* line 59, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #logo h1 {
    float: left;
    margin: 0;
    padding: 10px 0 0 0px;
    line-height: normal; }
  /* line 64, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #logo h2 {
    float: left;
    margin: 0;
    padding: 10px 0 0 0px;
    line-height: normal;
    float: right;
    padding: 68px 0 0 18px;
    font: 18px Helvetica;
    color: #5f5d5f; }
    /* line 73, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
    #logo h2 span {
      color: #b32d15; }

/* menu */
/* line 78, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#menu {
  margin: 0 0 0 110px;
  height: 50px; }
  /* line 81, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal; }
  /* line 86, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #menu li {
    display: block;
    float: left; }
  /* line 89, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #menu a {
    display: block;
    float: left;
    margin-right: 3px;
    padding: 0 17px 0 0;
    text-decoration: none;
    font-family: "Graublau Web", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #bebcbd; }
    /* line 98, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
    #menu a:hover {
      color: #b32d15;
      text-decoration: underline; }
  /* line 101, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #menu .current_page_item a {
    color: #b32d15; }

/* page */
/* line 106, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#page {
  width: 590px;
  margin: 0 0 0 110px;
  float: left;
  font: 13px Helvetica;
  color: #5f5d5f;
  line-height: 1.4em;
  text-align: justify;
  letter-spacing: 0.03em;
  font-size: 16px; }
  /* line 116, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #page h1, #page h2 {
    font: bold Helvetica;
    color: black; }
  /* line 119, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #page h1 {
    margin: 20px 0 30px;
    font-size: 30px;
    font-family: "Reenie Beanie", arial, serif;
    padding-bottom: 5px;
    font-variant: small-caps;
    text-transform: lowercase; }
  /* line 127, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #page h2 {
    font-size: 14px; }
  /* line 129, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #page p {
    font-family: "Cantarell", arial, serif; }

/* line 132, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#footer {
  margin-top: 30px; }
  /* line 134, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #footer p {
    font: 11px Helvetica;
    color: #aaaaaa; }

/* line 138, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#legal {
  clear: both;
  padding-top: 17px;
  text-align: left; }
  /* line 142, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
  #legal a {
    font-weight: normal;
    color: #5f5d5f; }

/* misc */
/* line 148, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
#lang-selector {
  margin-bottom: 20px; }

/* line 165, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
pre {
  border: solid 1px #dddddd;
  background: white;
  padding: 0;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit; }

/* line 176, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
.highlight td {
  padding: 8px 15px; }

/* line 179, /Users/ashvets/Dropbox/alex/work/projects/shvets.github.io/source/assets/stylesheets/base.sass */
.gl {
  background: #fafafa;
  border-right: 1px solid #dddddd;
  color: #999999;
  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
