%li
%a{:href => "http://olympiad.posterous.com/ruby-idioms-part-1-0"}="Ruby Idioms Part 1 - olympiad's posterous"
%li
%a{:href => "http://weare.buildingsky.net/2009/08/25/rubys-metaprogramming-toolbox"}="Ruby's Metaprogramming Toolbox"
%li
%a{:href => "http://rails.vsevteme.ru/posts/show?id=5856"}="1. Metaprogramming patterns — 25кю. Метод eval - Саморазвитие - Ruby & Rails: веб-разработка с удовольствием"
%li
%a{:href => "http://davidrupp.blogspot.com/2009/09/fun-with-metaprogramming.html"}="David Rupp's Blog: Fun With Metaprogramming: hash_initializer()"
%li
%a{:href => "http://ruby-metaprogramming.heroku.com/"}="http://ruby-metaprogramming.heroku.com/"
%li
%a{:href => "http://rails.vsevteme.ru/posts/show?id=11158"}="11. Metaprogramming patterns. 15 кю. MapReduce - Саморазвитие - Ruby & Rails: веб-разработка с удовольствием"
