%li
%a{:href => "http://nscookbook.com/2012/12/ios-programming-recipe-3-creating-segues-with-the-storyboard-part-1/"}="iOS Programming Recipe 3: Creating Segues with the Storyboard Part 1"
%li
%a{:href => "http://devcenter.heroku.com/articles/getting-started-ios-development-sinatra-cedar"}="Getting Started with iOS Development using Sinatra on Heroku / Cedar | Heroku Dev Center"
%li
%a{:href => "https://devcenter.heroku.com/articles/ios-photo-sharing-geo-location-service#write_your_rails_application"}="Building an iOS Photo-sharing and Geolocation Mobile Client and API | Heroku Dev Center"
%li
%a{:href => "https://github.com/kennethreitz/osx-gcc-installer/downloads"}="Downloads for kennethreitz's osx-gcc-installer - GitHub"
