%li
%a{:href => "http://blog.carbonfive.com/2011/07/06/pragmatic-javascript-testing-with-jasmine/"}="Pragmatic JavaScript Testing with Jasmine | The Carbon Emitter"
%li
%a{:href => "http://www.chadfowler.com/2011/2/9/how-rails-developers-do-ajax-in-2011"}="ChadFowler.com How Rails Developers do Ajax (with jQuery) in 2011"
