%li
%a{:href => "https://gist.github.com/4009812?utm_source=rubyweekly&utm_medium=email"}="jcoglan's gist: 4009812 — Gist"
%li
%a{:href => "http://patshaughnessy.net/2011/12/20/learning-from-the-masters-part-2-three-metaprogramming-best-practices"}="Learning from the masters part 2: three metaprogramming best practices - Pat Shaughnessy"
%li
%a{:href => "http://weblog.therealadam.com/2011/12/09/why-metaprogram-when-you-can-program/"}="Why metaprogram when you can program? « The Real Adam"
%li
%a{:href => "http://cscarioni.blogspot.com/2011/04/ruby-dynamics.html"}="carlo scarioni: Ruby Dynamics"
%li
%a{:href => "http://ilovemetaprogramming.tumblr.com/post/2405814434/ruby-crud-methods"}="I ♥ Metaprogramming, Ruby CRUD Methods"
%li
%a{:href => "http://metautonomo.us/2011/02/03/when-to-use-alias_method_chain/"}="When to use alias_method_chain – metautonomo.us"
%li
%a{:href => "https://github.com/michaelfairley/method_decorators"}="michaelfairley/method_decorators"
%li
%a{:href => "http://speakerdeck.com/u/michaelfairley/p/extending-ruby-with-ruby?utm_source=rubyweekly&utm_medium=email"}="Extending Ruby with Ruby // Speaker Deck"
