%li
%a{:href => "http://devlicio.us/blogs/sergio_pereira/archive/2010/12/06/android-app-from-idea-to-market-in-a-few-hours.aspx"}="Android App From Idea to Market In a Few Hours - Sergio Pereira - Devlicio.us - Just the Tasty Bits"
%li
%a{:href => "http://spin.atomicobject.com/2010/11/15/porting-android-code-to-blackberry?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+atomic_spin+%28Atomic+Spin%29"}="Porting Android code to BlackBerry | Atomic Object, Software Design & Development"
%li
%a{:href => "http://juixe.com/techknow/index.php/2010/11/15/android-learning-library/"}="Android Learning Library"
%li
%a{:href => "http://developer.android.com/guide/developing/other-ide.html"}="Developing In Other IDEs | Android Developers"
