%h1="My Blog"

%ul{:class => "blog"}
  %li
    %a{:href => "article_0001/extending_rubymine_with_jruby_plugin.html"}="Extending RubyMine with JRuby script - How to use HAML/SASS converter from inside IDE"
  %li
    %a{:href => "article_0002/how_to_use_coffeescript_with_nanoc.html"}="How to use CoffeeScript with nanoc"
  %li
    %a{:href => "article_0003/using_gemfile_gems_inside_gemspec.html"}="Using Gemfile gems inside .gemspec file"

