%h1="My Blog"

%ul{:class => "blog"}
  %li
    %a{:href => "article_0001/index.html"}="Extending RubyMine with JRuby script - How to use HAML/SASS converter from inside IDE"
  %li
    %a{:href => "article_0002/index.html"}="How to use CoffeeScript with nanoc"
  -#%li
  -#  %a{:href => "article_0003/index.html"}="How to"

