---
pageable: true
per_page: 12
paginate: true

my_list:
  - one
  - two
  - three
---

%h1="My Blog"

%h2 All Articles

%ol
  - blog.articles.each do |article|
    %li
      = link_to article.title, article
      %span= article.date.strftime('%b %e')

-#%h1 List
-#%ol
-#  - current_page.data.my_list.each do |f|
-#    %li= f