%ul{:class => "sites"}
  %li
    %a{:href => "sites/index.html"}="sites"
%ul{:class => "presentations"}
  %li
    %a{:href => "presentations/index.html"}="presentations"
%ul{:class => "gems"}
  %li
    %a{:href => "gems/index.html"}="gems"
%ul{:class => "learning"}
  %li
    %a{:href => "learning/index.html"}="learning"
%ul{:class => "podcasts"}
  %li
    %a{:href => "podcasts/index.html"}="podcasts"
%ul{:class => "books"}
  %li
    %a{:href => "books/index.html"}="books"
%ul{:class => "magazines"}
  %li
    %a{:href => "magazines/index.html"}="magazines"
%ul{:class => "blogs"}
  %li
    %a{:href => "blogs/index.html"}="blogs"
%ul{:class => "aspects"}
  %li
    %a{:href => "aspects/index.html"}="aspects"
%ul{:class => "quiz"}
  %li
    %a{:href => "quiz/index.html"}="quiz"
%ul{:class => "api-help"}
  %li
    %a{:href => "api-help/index.html"}="api-help"
%ul{:class => "links"}
  %li
    %a{:href => "links/index.html"}="links"
%ul{:class => "cool-projects"}
  %li
    %a{:href => "cool-projects/index.html"}="cool-projects"
%ul{:class => "distributed"}
  %li
    %a{:href => "distributed/index.html"}="distributed"
%ul{:class => "DP"}
  %li
    %a{:href => "DP/index.html"}="DP"
%ul{:class => "DSL"}
  %li
    %a{:href => "DSL/index.html"}="DSL"
%ul{:class => "language"}
  %li
    %a{:href => "language/index.html"}="language"
%ul{:class => "metaprogramming"}
  %li
    %a{:href => "metaprogramming/index.html"}="metaprogramming"
%ul{:class => "OTHER"}
  %li
    %a{:href => "OTHER/index.html"}="OTHER"
%ul{:class => "rails"}
  %li
    %a{:href => "rails/index.html"}="rails"
%ul{:class => "ruby-motion"}
  %li
    %a{:href => "ruby-motion/index.html"}="ruby-motion"
%ul{:class => "TDD"}
  %li
    %a{:href => "TDD/index.html"}="TDD"
%ul{:class => "tools"}
  %li
    %a{:href => "tools/index.html"}="tools"
%ul{:class => "useful"}
  %li
    %a{:href => "useful/index.html"}="useful"
%ul{:class => "interesting"}
  %li
    %a{:href => "interesting/index.html"}="interesting"
%ul{:class => "jruby"}
  %li
    %a{:href => "jruby/index.html"}="jruby"
%ul{:class => "humor"}
  %li
    %a{:href => "humor/index.html"}="humor"
%ul{:class => "threads"}
  %li
    %a{:href => "threads/index.html"}="threads"
%ul{:class => "selenium"}
  %li
    %a{:href => "selenium/index.html"}="selenium"
%ul{:class => "sublime"}
  %li
    %a{:href => "sublime/index.html"}="sublime"
%ul{:class => "screencasts"}
  %li
    %a{:href => "screencasts/index.html"}="screencasts"
%ul{:class => "must_have"}
  %li
    %a{:href => "must_have/index.html"}="must_have"
