%li
%a{:href => "https://github.com/railsfactory/rubymotion-learn/blob/master/projects.md"}="rubymotion-learn/projects.md at master · railsfactory/rubymotion-learn · GitHub"
%li
%a{:href => "http://www.rubymotion.com/developer-center/guides/runtime/"}="RubyMotion Runtime Guide"
