%li
%a{:href => "http://rishida.net/tools/conversion/"}="Unicode code converter [ishida >> utilities]"
%li
%a{:href => "http://fb2pdf.com/"}="Конвертор FictionBook2 в PDF для Sony Reader"
%li
%a{:href => "javascript:if(typeof(jQuery)=='undefined')%7Bjquery=document.createElement('script');jquery.setAttribute('src','http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js');document.body.appendChild(jquery);(function()%7Bif(window.jquery&&typeof(jQuery)!='undefined')%7B%7Delse%7BsetTimeout(arguments.callee);%7D%7D)();void(jquery)%7D;autofiller=document.createElement('script');autofiller.setAttribute('src','http://jquery-auto-filler.heroku.com/javascripts/jquery.auto_filler.js');document.body.appendChild(autofiller);(function()%7Bif(window.autofiller&&typeof(jQuery)!='undefined'&&typeof(jQuery.init_autofiller)=='function')%7BjQuery.init_autofiller();%7Delse%7BsetTimeout(arguments.callee);%7D%7D)();void(autofiller);"}="Auto Filler"
%li
%a{:href => "javascript:(function()%7Bvar%20a=(new%20RegExp(%22github.com/(.+)%22,%22i%22)).exec(window.location.href);var%20f=a?a%5B1%5D.split(%22/%22):%5B%5D;var%20b=f%5B0%5D;var%20d=f%5B1%5D;var%20e=f%5B3%5D;var%20c=%22http://sr3d.github.com/GithubFinder/?utm_source=bml%22+(a?%22&user_id=%22+b+%22&repo=%22+d+(e?%22&branch=%22+e:%22%22):%22%22);if(!c)%7Balert(%22Invalid%20Github%20URL%22);return%7Dwindow.open(c)%7D)()"}="Open in GHFinder"
%li
%a{:href => "javascript:(function(F,i,r,e,b,u,g,L,I,T,E)%7Bif(F.getElementById(b))return;E=F%5Bi+'NS'%5D&&F.documentElement.namespaceURI;E=E?F%5Bi+'NS'%5D(E,'script'):F%5Bi%5D('script');E%5Br%5D('id',b);E%5Br%5D('src',I+g+T);E%5Br%5D(b,u);(F%5Be%5D('head')%5B0%5D%7C%7CF%5Be%5D('body')%5B0%5D).appendChild(E);E=new%20Image;E%5Br%5D('src',I+L);%7D)(document,'createElement','setAttribute','getElementsByTagName','FirebugLite','4','firebug-lite.js','releases/lite/latest/skin/xp/sprite.png','https://getfirebug.com/','%23startOpened');"}="Firebug Lite"
