%li
%a{:href => "http://www.wired.com/dangerroom/2012/12/codes/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+wired%2Findex+%28Wired%3A+Top+Stories%29&pid=1706"}="7 Codes You'll Never Ever Break | Danger Room | Wired.com"
%li
%a{:href => "http://leone.panopticdev.com/search?updated-min=2010-01-01T00%3A00%3A00-08%3A00&updated-max=2011-01-01T00%3A00%3A00-08%3A00&max-results=5"}="leaps || bounds"
%li
%a{:href => "http://thinkvitamin.com/dev/the-hidden-magic-in-textmate/"}="Think Vitamin » The Hidden Magic in TextMate"
%li
%a{:href => "http://leone.panopticdev.com/2010/08/turn-your-android-phone-into-remote-spy.html"}="leaps || bounds: Turn your Android Phone Into a Remote Spy Camera with Ruby in 15 Minutes"
%li
%a{:href => "http://sirupsen.com/get-started-right-with-rvm/"}="Get started right with RVM"
%li
%a{:href => "http://www.maxkpage.com/blog/learn-ruby-on-rails-fast/"}="Learn Ruby on Rails Fast"
%li
%a{:href => "http://www.engadget.com/"}="Engadget"
%li
%a{:href => "http://mattberther.com/"}="mattberther.com"
%li
%a{:href => "http://rbjl.net/29-become-a-proc-star"}="rbJL.net · 29 · Become a Proc Star!"
%li
%a{:href => "http://www.delicious.com/mgirouard/design-patterns"}="mgirouard's design-patterns Bookmarks on Delicious"
%li
%a{:href => "http://flowplayer.org/tools/demos/index.html"}="jQuery TOOLS - The missing UI library for the Web"
%li
%a{:href => "http://rubyquiz.com/quiz8.html"}="Ruby Quiz - Object Browser (#8)"
%li
%a{:href => "http://rails-nutshell.labs.oreilly.com/"}="Rails in a Nutshell"
%li
%a{:href => "http://blog.tty.nl/2009/09/17/using-nginx-passenger-as-your-development-environment/"}="/dev/tty: Using Nginx + Passenger as your development environment (Mac)"
%li
%a{:href => "http://blog.chrislowis.co.uk/2010/05/31/five-rails-apps-to-study-and-learn-from.html"}="Open-source rails apps to study and learn from"
%li
%a{:href => "http://www.tricksonrails.com/2010/06/avoid-memory-leaks-in-ruby-rails-code-and-protect-against-denial-of-service/"}="Avoid memory leaks in your ruby/rails code and protect you against denial of service | Whatever to succeed in rails' world"
%li
%a{:href => "http://chriseppstein.github.com/blog/2010/02/08/haml-sucks-for-content/"}="Haml Sucks for Content"
%li
%a{:href => "http://chipiga.pp.ua/rails/rails-3-ruby-1-9-borba-s-kodirovkami/"}="Rails 3 + Ruby 1.9 = борьба с кодировками | Заметки Ruby программиста"
%li
%a{:href => "http://railsdispatch.com/posts/upgrading-a-rails-2-app-to-rails-3"}="Rails Dispatch | Presented by Engine Yard"
%li
%a{:href => "http://caffeinedd.com/guides/348-upgrading-to-rails-3"}="Caffeine Driven Development » Blog Archive » Upgrading an Application to Rails 3 — Part 1"
%li
%a{:href => "http://mediumexposure.com/rails-3-reading-material/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+mediumexposure+%28mediumexposure%29"}="Rails 3 Reading Material | Medium eXposure"
%li
%a{:href => "http://github.com/mleone/broadcast"}="mleone's broadcast at master - GitHub"
%li
%a{:href => "http://rubykoans.com/"}="Learning Ruby with the EdgeCase Ruby Koans"
%li
%a{:href => "http://tagaholic.me/2009/03/18/ruby-class-trees-rails-plugin-trees-with-hirb.html"}="Tagaholic - Ruby Class and Rails Plugin Trees With Hirb"
%li
%a{:href => "http://guides.rubyonrails.org/active_record_querying.html"}="Active Record Query Interface"
%li
%a{:href => "http://guides.rubyonrails.org/performance_testing.html"}="Performance Testing Rails Applications"
%li
%a{:href => "http://guides.rubyonrails.org/rails_on_rack.html"}="Rails on Rack"
%li
%a{:href => "http://ruby.rpod.ru/100802.html"}="Ruby NoName Podcast #2 (Спец. выпуск о нововведениях в Rails 2.3) — RussianPodcasting, первый российский подкаст-терминал"
%li
%a{:href => "http://www.betaversion.org/~stefano/linotype/news/169/"}="Stefano’s Linotype » Why Programmers Suck at CSS Design"
%li
%a{:href => "http://www.fiascode.com/programming/ruby-screen-scraping-with-scrubyt/"}="Fiascode » Ruby Screen Scraping with scRUBYt!"
%li
%a{:href => "http://metric-fu.rubyforge.org/"}="metric_fu: A Ruby Gem for Easy Metric Report Generation"
%li
%a{:href => "http://blogs.law.harvard.edu/philg/2009/05/18/ruby-on-rails-and-the-importance-of-being-stupid/"}="Philip Greenspun’s Weblog » Ruby on Rails and the importance of being stupid"
%li
%a{:href => "http://stackoverflow.com/questions/577944/how-to-run-rake-tasks-from-within-rake-tasks"}="How to run Rake tasks from within Rake tasks? - Stack Overflow"
%li
%a{:href => "http://blog.jayfields.com/2006/01/rake-nunit-task.html"}="Jay Fields' Thoughts: Rake NUnit Task"
%li
%a{:href => "http://technicalpickles.com/posts/rcov-for-almost-any-occasion"}="RCov for almost any occasion at technical.pickles"
%li
%a{:href => "http://www.sweethome3d.eu/"}="Sweet Home 3D"
%li
%a{:href => "http://github.com/jasonm/parallel_specs/tree/master"}="jasonm's parallel_specs at master - GitHub"
%li
%a{:href => "http://tech.valodzka.name/2009/08/blog-post_17.html"}="Tech stuff: Взлом каптчи — замахиваемся на святое"
%li
%a{:href => "javascript:(function(){spritemejs=document.createElement('SCRIPT');spritemejs.type='text/javascript';spritemejs.src='http://spriteme.org/spriteme.js';document.getElementsByTagName('head')[0].appendChild(spritemejs);})();"}="SpriteMe"
%li
%a{:href => "http://pragmatig.wordpress.com/2009/09/24/stop-spec_helper-from-being-loaded-multiple-times/"}="Stop spec_helper from being loaded multiple times « My Pragmatig life"
%li
%a{:href => "http://refactormycode.com/codes/181-help-refactor-this-into-rails-form-builder"}="Help Refactor this into Rails Form Builder! - RefactorMyCode.com"
%li
%a{:href => "http://pedromtavares.wordpress.com/2009/11/29/task-t-testing/"}="Task T: Testing « Pedro Mateus Tavares"
%li
%a{:href => "http://jonathan.tron.name/2009/08/20/sinatra-sequel-haml-postgresql-utf-8-and-ruby-1-9-1"}="Sinatra, Sequel, HAML, PostgreSQL, UTF-8 and Ruby 1.9.1 : Jonathan.inspect"
%li
%a{:href => "http://www.macosxhints.com/article.php?story=20070220150856279"}="10.4: Use MacFuse to read and write to NTFS volumes - Mac OS X Hints"
%li
%a{:href => "http://blog.grayproductions.net/articles/understanding_m17n"}="Shades of Gray: Understanding M17n"
%li
%a{:href => "http://buzaz.com/index.php/2010/01/03/how-to-build-a-ruby-gem/"}="How to build a ruby gem and host it on gemcutter | BUZAZ BLOG"
%li
%a{:href => "http://github.com/mynyml/harmony"}="mynyml's harmony at master - GitHub"
%li
%a{:href => "http://endofline.wordpress.com/2010/04/18/ruby_scope/"}="RubyScope « End of Line"
%li
%a{:href => "http://code.google.com/apis/youtube/2.0/developers_guide_protocol_video_feeds.html"}="Developer's Guide: Data API Protocol – Video Feed Types - YouTube APIs and Tools - Google Code"
%li
%a{:href => "http://code.google.com/apis/youtube/js_api_reference.html"}="YouTube JavaScript Player API Reference - YouTube APIs and Tools - Google Code"
%li
%a{:href => "http://developer.yahoo.com/yui/grids/"}="YUI 2: Grids CSS"
%li
%a{:href => "http://github.com/rsim/ruby-plsql"}="rsim's ruby-plsql at master - GitHub"
%li
%a{:href => "http://www.idolhands.com/ruby-on-rails/gems-plugins-and-engines/graphing-for-ruby-on-rails-with-seer"}="Simple, Semantic Graphing for Ruby on Rails with Seer - Rails Gems, Plugins, and Engines - Ruby on Rails Articles - IdolHands.com"
%li
%a{:href => "http://jee-bpel-soa.blogspot.com/2009/10/maven2-integration-testing-with.html"}="Java EE, Web Services, WS-BPEL, SOA: Maven2 integration testing with failsafe and jetty plugins"
%li
%a{:href => "http://teachmetocode.com/screencasts/rspec-subjects"}="Teach Me To Code - RSpec Subjects"
%li
%a{:href => "http://code.google.com/p/selenium/wiki/UsingWebDriver"}="UsingWebDriver - selenium - Using WebDriver in your project and finding the jars and required libraries - Project Hosting on Google Code"
%li
%a{:href => "http://wiki.foochal.org/index.php/Maven_Selenium"}="Maven Selenium - Foochal"
%li
%a{:href => "http://mojo.codehaus.org/selenium-maven-plugin/examples/headless-with-xvfb.html"}="Selenium Maven Plugin - Headless X11 with Xvfb"
%li
%a{:href => "http://github.com/leehambley/capistrano-handbook/blob/master/index.markdown"}="index.markdown at master from leehambley's capistrano-handbook - GitHub"
%li
%a{:href => "http://yehudakatz.com/2010/05/17/encodings-unabridged/"}="Encodings, Unabridged « Katz Got Your Tongue?"
%li
%a{:href => "http://blog.josephwilk.net/ruby/testing-javascript-with-cucumber-in-javascript.html"}="Joseph Wilk » Testing Javascript with Cucumber in Javascript"
%li
%a{:href => "http://blog.devinterface.com/2010/06/partial-validation-in-rails/"}="Partial Validation in Rails « DevInterface Blog"
%li
%a{:href => "http://levgem.livejournal.com/"}="Макс Лапшин's Journal"
%li
%a{:href => "http://docs.heroku.com/bamboo"}="Heroku | Badious Bamboo (Beta)"
%li
%a{:href => "http://localhost:4567/"}="Call Forwarding"
%li
%a{:href => "http://wheelersoftware.com/articles/spring-web-flow-2.0-7.html"}="Tutorial: Build a Shopping Cart with Spring Web Flow 2.0 - Wheeler Software"
%li
%a{:href => "http://wiki.github.com/aslakhellesoy/cucumber/a-whole-new-world"}="A Whole New World - cucumber - GitHub"
%li
%a{:href => "http://github.com/technicalpickles/capistrano-spec"}="technicalpickles's capistrano-spec at master - GitHub"
%li
%a{:href => "http://github.com/valeriofarias/learn-bdd-playing-dice-book"}="valeriofarias's learn-bdd-playing-dice-book at master - GitHub"
%li
%a{:href => "http://www.java2s.com/Code/Java/Swing-JFC/ProgressBarDemolongtask.htm"}="ProgressBar Demo: long task : ProgressBar « Swing JFC « Java"
%li
%a{:href => "http://rubylearning.com/blog/2010/09/21/writing-modular-web-applications-with-rack/"}="Writing modular web applications with Rack"
%li
%a{:href => "http://rubylearning.com/blog/2010/10/01/an-introduction-to-eventmachine-and-how-to-avoid-callback-spaghetti/"}="An introduction to eventmachine, and how to avoid callback spaghetti"
%li
%a{:href => "http://thefrontiergroup.com.au/blog/2010/09/rvm-more-than-ruby-1-9-and-rails-3/"}="RVM: More than Ruby 1.9 and Rails 3 by Darcy Laycock (Sutto) » Transcending Frontiers"
%li
%a{:href => "http://rubylearning.com/blog/2010/10/05/outside-in-development/"}="An Introduction to Outside-in Development"
%li
%a{:href => "http://github.com/nu7hatch/rails3-ujs-example"}="nu7hatch's rails3-ujs-example at master - GitHub"
%li
%a{:href => "http://nicksda.apotomo.de/2010/10/10-points-how-cells-improves-your-rails-architecture/"}="10 Points How Cells Improves your Rails Architecture ¶ Nicksda"
%li
%a{:href => "http://tristandunn.com/2010/10/21/multiple-sessions-cucumber-selenium.html"}="Multiple Sessions in Cucumber & Selenium - Tristan Dunn"
%li
%a{:href => "http://blog.ethanvizitei.com/2010/10/refactoring-in-ruby-with-blocks.html"}="Ethan's Software Blog: Refactoring in Ruby with Blocks"
%li
%a{:href => "http://injecting.by2.be/blog/2010/11/hudson_for_a_rails3_project.html"}="By2.be blog - Hudson for a Rails3 project"
%li
%a{:href => "http://reprocessed.org/blog/selenium_and_cucumber"}="Setting up a more-integrated Selenium, Cucumber, and Rails - Reprocessed"
%li
%a{:href => "https://github.com/blahed/frank"}="blahed's frank at master - GitHub"
%li
%a{:href => "https://github.com/rafmagana/dooby"}="rafmagana's dooby at master - GitHub"
%li
%a{:href => "http://napkin.highgroove.com/articles/2010/11/09/debugging-ruby-tools"}="Debugging Ruby Tools"
%li
%a{:href => "http://nivo.dev7studios.com/#"}="Nivo Slider - The Most Awesome jQuery Image Slider"
%li
%a{:href => "http://starrhorne.com/posts/howto_build_a_blog_with_nanoc/"}="I built my blog with nanoc, and now I am happy again"
%li
%a{:href => "http://stjhimy.com/"}="stJhimy - Playing around with codes!"
%li
%a{:href => "http://binil.wordpress.com/2008/10/29/running-cucumber-on-jrubymaven/"}="Running cucumber on JRuby+Maven « Madaspeak"
%li
%a{:href => "http://drnicwilliams.com/2009/04/15/cucumber-building-a-better-world-object/"}="Dr Nic's Cucumber: building a better World (object)"
%li
%a{:href => "http://carsonified.com/blog/features/webapps/easy-automated-web-application-testing-with-hudson-and-selenium/"}="Easy Automated Web Application Testing with Hudson and Selenium | Carsonified"
%li
%a{:href => "http://reprocessed.org/blog/easy_rails_ci_with_hudson"}="Easy Rails CI with Hudson - Reprocessed"
%li
%a{:href => "http://intridea.com/2010/4/22/oauth2-gem-just-in-time-for-facebook-graph"}="Intridea Blog: OAuth2 Gem: Just in Time For Facebook's Graph"
%li
%a{:href => "http://developers.facebook.com/docs/api"}="Graph API - Facebook Developers"
%li
%a{:href => "http://github.com/tristandunn/cucumber-websocket-example"}="tristandunn's cucumber-websocket-example at master - GitHub"
%li
%a{:href => "http://release.seleniumhq.org/selenium-remote-control/0.9.2/doc/dotnet/Selenium.html"}="Selenium"
%li
%a{:href => "http://depth-first.com/articles/2010/12/04/200-countries-and-200-years-in-4-minutes/"}="200 Countries and 200 Years in 4 Minutes | Depth-First"
%li
%a{:href => "https://github.com/txus/hijacker"}="txus's hijacker at master - GitHub"
%li
%a{:href => "https://gist.github.com/675667"}="gist: 675667 - Inspired by @JEG2's talk at Rubyconf... Any ruby object, as a webapp! 'Cause we can. :-)- GitHub"
%li
%a{:href => "https://github.com/apotonick/cells"}="apotonick's cells at master - GitHub"
%li
%a{:href => "http://lawrencesong.net/2008/01/selenium-element-locators/"}="Selenium Element Locators"
%li
%a{:href => "http://nicksda.apotomo.de/2010/11/lets-write-a-reusable-sidebar-component-in-rails-3/"}="Let’s write a Reusable Sidebar Component in Rails 3! ¶ Nicksda"
%li
%a{:href => "http://robots.thoughtbot.com/post/1658763359/thoughtbot-and-the-holy-grail"}="thoughtbot and the Holy Grail - GIANT ROBOTS SMASHING INTO OTHER GIANT ROBOTS"
%li
%a{:href => "http://www.igvita.com/2010/12/02/concurrency-with-actors-goroutines-ruby/"}="Concurrency with Actors, Goroutines & Ruby - igvita.com"
%li
%a{:href => "http://tir.mongrel2.org/home"}="Tir Web Framework: Tir Web Framework"
